<html>
<head>
    <title> Heart Disease Diagnosis </title>
</head>
<body>
    <form action='/predict' method='post'>
        <lable>age</lable>
        <input type='text' name='age'><br><br>

        <label>Sex</label> 
        <select name="sex">
            <option value="0">Femail</option>
            <option value="1">Mail</option>
        </select><br><br>

        <lable>cp</lable>
        <select name="cp">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select><br><br>

        <lable>trestbps</lable>
        <input type='text' name='trestbps'><br><br>

        <lable>chol</lable>
        <input type='text' name='chol'><br><br>
        
        <lable>fbs</lable>
        <select name="fbs">
            <option value="0">0</option>
            <option value="1">1</option>
        </select><br><br>

        <lable>restecg</lable>
        <select name="restecg">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select><br><br>

        <lable>thalach</lable>
        <input type='text' name='thalach'><br><br>


        <lable>exang</lable>
        <select name="exang">
            <option value="0">0</option>
            <option value="1">1</option>
        </select><br><br>

        <lable>oldpeak</lable>
        <input type='text' name='oldpeak'><br><br>

        <lable>slope</lable>
        <select name="slope">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select><br><br>

        <lable>ca</lable>
        <select name="ca">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br><br>

        <lable>thal</lable>
        <select name="thal">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            </select><br><br>
            
            <input type="submit"  value="Predict">


        </form>
    
    </body>
    </html>








